{% extends "base.html" %}
{% block titulo %}Login{% endblock %}

{% block contenido %}
    <h2>Iniciar sesion</h2>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST">
        <label>Usuario</label>
        <input type="text" name="usuario" placeholder="Ingresa tu usuario">

        <label>Contraseña</label>
        <input type="password" name="password" placeholder="Ingresa tu contraseña">

        <button type="submit">Entrar</button>
    </form>

    
{% endblock %}
